body {
  font-family: "Roboto", sans-serif;
  background-color: #f0efeb;
  margin: 15px;
}

#tribute-link {
  font-weight: bold;
  color: blue;
}

#tribute-info {
  text-align: justify;
  color: #212529;
  background-color: #e5e5e5;
  padding: 10px 100px;
}

#main {
  background-color: #e5e5e5;
  padding: 20px;
  text-align: center;
}
#quote {
  font-style: italic;
}

img {
  width: 240px;
  height: 320px;
  margin-bottom: 40px;
}

#img-div {
  position: relative;
  background-color: #eeeeee;
  text-align: center;
  padding: 55px 5px 10px 5px;
}

img:hover {
  transform: scale(1.25);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 480px) {
  .body {
    width: 150px;
  }
}
